<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387314181192-4dlmdd8gkc5qk9nn4dlpatftq1i9d78t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387314181192-4dlmdd8gkc5qk9nn4dlpatftq1i9d78t</string>
	<key>API_KEY</key>
	<string>AIzaSyBN1YMgJi-xfUphkKJkT4RIErOUHHqZLNI</string>
	<key>GCM_SENDER_ID</key>
	<string>387314181192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulkerimcan.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-25189</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-25189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387314181192:ios:a86c636b6ce3c473fbe47d</string>
</dict>
</plist>